{% extends 'index/base.html.twig' %}

{% block title %}Hello CompteController!
{% endblock %}


{% block body %}
<div class="container">
	<h1>Vos commandes:
	</h1>
	<div class="container">
		<table class="table" border="1">
			<tr>
				<div class="row">
					<td>
						<div class="col-">
							ID
						</div>
					</td>
					<td>
						<div class="col-">

							Date
						</div>
					</td>
					<td>
						<div class="col-">

							Etat
						</div>
					</td>


				</div>
			</tr>
		</td>
	</tr>

	{% for commande in commandes %}
		<tr>
			<div class="row">
				<td>
					<div class="col-">
						{{commande.getId()}}
					</div>
				</td>
				<td>

					<div class="col-">
						{{commande.getdate()|date('Y-m-d')}}</div>

				</td>
				<td>

					<div class="col-">
						{{commande.getetat()}}</div>
				</td>
				<td>
					<div class="col-x">

						<a href="{{ path('deletecommande', {'id': commande.getId()}) }}">Supprimer</a>


					</div>
				</td>


			</div>
		</tr>
	</td>
</tr>{% endfor %}</table></div>{% endblock %}
