{% extends 'base.html.twig' %}

{% block title %}Ajouter un client
{% endblock %}
{% form_theme client_form 'bootstrap_4_layout.html.twig' %}

{% block body %}
	<div class="container">
		{{ form_start(client_form) }}


		<!-- <form method="POST" -->
		{{ form_widget(client_form)}}
		{{ form_end(client_form) }}
		<!-- </form> -->
	</div>
{% endblock %}
